*.http
database.db
.idea
**/.vscode
*.log
node_modules
dist
.env
.env.local
.env.*.local
*.DS_Store
*Thumbs.db
*.xhtml
*.xml
*.pyc
*.pyc
__pycache__/
# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

